Package: curl
Version: 8.0.1
Depends: vcpkg-cmake, vcpkg-cmake-config, zlib
Architecture: x64-windows
Multi-Arch: same
Abi: 1e0dd4115496ea4ce1dae79c0e7dbf18ab7e0024ccf5bc3643fe95b1dc982d42
Description: A library for transferring data with URLs
Default-Features: non-http, ssl

Package: curl
Feature: non-http
Architecture: x64-windows
Multi-Arch: same
Description: Enables protocols beyond HTTP/HTTPS/HTTP2

Package: curl
Feature: schannel
Depends: curl
Architecture: x64-windows
Multi-Arch: same
Description: SSL support (Secure Channel)

Package: curl
Feature: ssl
Depends: curl
Architecture: x64-windows
Multi-Arch: same
Description: Default SSL backend

Package: curl
Feature: sspi
Architecture: x64-windows
Multi-Arch: same
Description: SSPI support
